@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #141514;
  --color-secondary: #0a0a0a;
  --color-secondary-hover: #202020;
  --color-accent: #b3ff58;
  --color-accent-hover: #a0e04c;

  --font-family-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

/* Force Poppins partout */
* {
  font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
  color: white;
  background-color: var(--color-secondary);
}

/* Animations complètes pour DropdownMenu */
[data-radix-popper-content-wrapper] {
  z-index: 50;
}
