@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #141514;
  --color-secondary: #0a0a0a;
  --color-accent: #b3ff58;

  --font-family-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

/* Force Poppins partout */
* {
  font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
  color: white;
  background-color: var(--color-secondary);
}
